<a href="https://colab.research.google.com/github/yuriehong/ds4bme_intro/blob/master/quiz1csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd

! if [ ! -e kirby127a_3_1_ax_283Labels_M2_corrected_stats.csv ] ; \
  then wget https://raw.githubusercontent.com/bcaffo/ds4bme_intro/master/data/kirby127a_3_1_ax_283Labels_M2_corrected_stats.csv; \
fi
  
df = pd.read_csv("/content/kirby127a_3_1_ax_283Labels_M2_corrected_stats.csv")
df.head(5)

   Unnamed: 0                 rawid              roi  ...      std  type  level
0           1  kirby127a_3_1_ax.img  Telencephalon_L  ...  51.8593     1      1
1           2  kirby127a_3_1_ax.img  Telencephalon_R  ...  53.6471     1      1
2           3  kirby127a_3_1_ax.img   Diencephalon_L  ...  32.2733     1      1
3           4  kirby127a_3_1_ax.img   Diencephalon_R  ...  32.7869     1      1
4           5  kirby127a_3_1_ax.img    Mesencephalon  ...  29.2249     1      1

[5 rows x 10 columns]